page-start {
.content{


}
.h1{
  text-align: center;
  font-family: call($font-path);
}
  .h3{
    text-align: center;
    font-family: call($font-path);
  }
  .button{
background-color: #69717d;
    font-weight: bold;
  }
}
