page-karte-ziehen {


  ion-card {
    height: 90%;
    text-align: center;
  }

ion-card-content {
  height: 27em;
}
  .card-md h3 {
    font-size: 25px;
    margin-top: 2em;
  }

  .card-md p {
    color: white;
    font-weight: bold;
  }
  ion-icon.play {
    font-size: 6em;
    color: white;
    margin-top: 0.5em !important;
    padding: auto;
    text-align: justify !important;
  }

  .kommunikation {
    background-color: $kommunikation;
  }

  .Arbeitsmittel {
    background-color: $arbeitsmittel;
  }

  .arbeitsplatz {
    background-color: $arbeitsplatz;
  }
  .bleibTapfer {
    background-color: $bleibTapfer;
  }

  .informationsbeschaffung {
    background-color: $informationsbeschaffung;
  }

  .Perspektivwechsel {
    background-color: $perspektivwechsel;
  }

  .stellDirVor {
    background-color: $stellDirVor;
  }

  .joker {
    background-color: $joker;
  }

  h2 {
    font-weight: normal;
    color: #ffcb05;

  }

  h3 {

    color: white !important;
    font-size: 5em;
    text-align: center;
    margin: 5px;
  }

  p.card-category {
    font-weight: lighter;
    color: white;
    text-align: center;
    font-size: 1.5em;
    vertical-align: top !important;
  }

  button.new {
    background-color: #414141;
    height: 5em;
  }


  button.accept {
    background-color: #414141;
    height: 5em;
  }

}
