@font-face {
  font-family: 'icomoon';
  src:  url('../assets/fonts/icomoon.eot?jy4q1j');
  src:  url('../assets/fonts/icomoon.eot?jy4q1j#iefix') format('embedded-opentype'),
    url('../assets/fonts/icomoon.ttf?jy4q1j') format('truetype'),
    url('../assets/fonts/icomoon.woff?jy4q1j') format('woff'),
    url('../assets/fonts/icomoon.svg?jy4q1j#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ai_noun_win_1793325:before {
  content: "\e900";
}
