// http://ionicframework.com/docs/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry pointgt
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


@font-face{
  font-family: Marvel;
  src: url('../assets/fonts/Marvel/Marvel-Regular.ttf')
}

*{
  font-family: Marvel;

  ion-header ion-icon.back-button-icon.icon {
    color: #222;
  }
  ion-header ion-icon.bar-button-icon.icon {
    color: #222;
  }

}

ion-icon {
  font-size: 1.2em;
  padding: 0.4em;
}

.myToast {
  .toast-wrapper {
    background: #efefef;
    border-radius: 25px;
    height: 4em;
    width: 20em;
    .toast-message{
      color:  #646464;
      text-align: center;
    }
  }
}

//Card-Colors
$cardTitel: white;
$cardIcon: white;
$cardText: white;

$kommunikation:    #46577B;
$kommunikation-hover: #79a1db;
$arbeitsmittel:   #550C35;
$arbeitsmittel-hover: #db1d8b;
$arbeitsplatz: #98201A;
$arbeitsplatz-hover: #db2822;
$bleibTapfer: #106146;
$bleibTapfer-hover: #21db9c;
$informationsbeschaffung: #D27618;
$informationsbeschaffung-hover: #fd9c18;
$perspektivwechsel: #102326;
$perspektivwechsel-hover: #346c78;
$stellDirVor: #D292AD;
$stellDirVor-hover: #fdd2eb;
$joker: #ffcb05;

//Hintergruende der Karten
.kommunikation {
  background-color: $kommunikation;
}

.Arbeitsmittel {
  background-color: $arbeitsmittel;
}

.arbeitsplatz {
  background-color: $arbeitsplatz;
}
.bleibTapfer {
  background-color: $bleibTapfer;
}

.informationsbeschaffung {
  background-color: $informationsbeschaffung;
}

.Perspektivwechsel {
  background-color: $perspektivwechsel;
}

.stellDirVor {
  background-color: $stellDirVor;
}

.joker {
  background-color: $joker;
}



