page-spielen {
  .scroll-content {
    display: flex;
    flex-direction: column;

    ion-slides {

      display: flex;
      border-radius: 10px !important;
      overflow: hidden !important;
    }
  }
  ion-grid {
    height: 100%;
  }

  ion-row.slider {
    height: 90%;
  }

  ion-col.col {
    height: 100%;
  }
  ion-slide {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px !important;
    overflow: hidden !important;
    ion-icon{
      color: $cardIcon;
    }
  }

  ion-icon {
    font-size: 4em;
    padding: 0.4em;
    z-index: 1 !important;
  }

  h3 {
    color: $cardText;
    font-size: 2em;
    text-align: center;
    margin: 15px;
  }

  p.card-category {
    font-weight: lighter;
    color: $cardTitel;
    text-align: center;
    font-size: 1.5em;
    vertical-align: top;
  }

  p {
    font-weight: bold;
    font-size: 25px;
  }
  .button-md {
    height: 5em;
    border-radius: 5px;
    background-color: #414141;
    color: $cardTitel;
  }
}
