page-spielen {

  .scroll-content {
    display: flex;
    flex-direction: column;

    ion-slides {
      display: flex;
      border-radius: 10px !important;
      overflow: hidden !important;
    }
  }
  ion-grid {
    height: 100%;
  }

  ion-row.slider {
    height: 90%;
  }

  ion-col.col {
    height: 100%;
  }
  ion-slide {
    background: white;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px !important;
    overflow: hidden !important;

  }

  ion-icon {
    font-size: 4em;
    color: white;
    padding: 0.4em;
    z-index: 1 !important;
  }

  .kommunikation {
    background-color: $kommunikation;
  }

  .Arbeitsmittel {
    background-color: $arbeitsmittel;
  }

  .arbeitsplatz {
    background-color: $arbeitsplatz;
  }
  .bleibTapfer {
    background-color: $bleibTapfer;
  }

  .informationsbeschaffung {
    background-color: $informationsbeschaffung;
  }

  .Perspektivwechsel {
    background-color: $perspektivwechsel;
  }

  .stellDirVor {
    background-color: $stellDirVor;
  }

  .joker {
    background-color: $joker;
  }

  h2 {
    font-weight: normal;
    color: #ffcb05;

  }

  h3 {

    color: white;
    font-size: 2em;
    text-align: center;
    margin: 15px;
  }

  p.card-category {
    font-weight: lighter;
    color: white;
    text-align: center;
    font-size: 1.5em;
    vertical-align: top;
  }

  p {
    font-weight: bold;
    font-size: 18px;
  }
  .button-md {
    height: 5em;
    border-radius: 5px;
    background-color: #414141;
  }
}
