page-historie {

  table {
    background-color: aquamarine;
    border-radius: 10px;
    margin: 10px
  }

  ion-slide {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    ion-icon{
      color: $cardIcon;
    }
  }

  ion-icon {
    font-size: 4em;
    padding: 0.4em;
    z-index: 1 !important;
  }

  h3 {
    color: $cardText;
    font-size: 2em;
    text-align: center;
    margin: 5px;
  }

  p.card-category {
    font-weight: lighter;
    color: $cardTitel;
    text-align: center;
    font-size: 1.5em;
    vertical-align: top;
  }

}
