git page-slides {
 ion-slide{
   background: #ffcb05;
   background-position: center;
   background-size: contain;
   background-repeat: no-repeat;
 }

 h2 {
   font-weight: normal;
   color: white;
 }

 p {
   font-weight: lighter;
 }

}
